* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #0e68a4, #6fa8dc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}


.container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 400px;
    overflow: hidden;
}


.form-header {
    text-align: center;
    padding: 20px;
    background: #0e68a4;
    color: white;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}

.form-header h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.form-header p {
    font-size: 1rem;
}


.form-container {
    display: none;
    padding: 20px;
}

.form-container.active {
    display: block;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s;
}

input:focus,
select:focus {
    border-color: #0e68a4;
    box-shadow: 0 0 5px rgba(14, 104, 164, 0.5);
    outline: none;
}

.submit-btn {
    width: 100%;
    background: #0e68a4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #0c5b8c;
}


p {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
}

a {
    color: #0e68a4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}