
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0e68a4;
    border-bottom: 1px solid #e0e0e0;

}
.sidebar {
    width: 200px;
    margin-left: -50%;
    background-color: #fff;
    padding: 20px 0;
    border-right: 1px solid #ddd;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px 20px;
    cursor: pointer;
    color: #333;
}

.sidebar li:hover {
    background-color: #f5f5f5;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.create-post-btn {
    background-color: #0d2f78;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icons span {
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.all{

    margin-top: -95%;
}
.card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tags {
    margin-bottom: 10px;
}

.tags span {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 12px;
    color: #555;
}

.reactions {
    font-size: 14px;
    color: #666;
}

